
.ScriptListNav_list {
    list-style-type: none;
    margin: 130px 0 0;
    padding: 0;
}

.category {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  
.ScriptListNav__button-wrapper {
    margin: 0 0 0 auto;
    max-width: 180px;
}

.ScriptListNav_category-link {
    background-color: #652b01;
    color: white;
    display: block;
    font-family: var(--custom-font);
    font-size: 20px;
    margin: 0 0 8px auto;
    max-width: 60%;
    padding: 8px 16px;
    text-decoration: none;
}

.ScriptListNav_category-link:hover {
    color: #b5b3b3;
    cursor: pointer;
}

.ScriptListNav_category-link.active {
    background-color: #cc5803;
    font-weight: bold;
    font-size: 36px;
    color:white;
    writing-mode: vertical-lr;
    text-orientation: upright;
}
  
.ScriptListNav_num-scripts {
    color: #fff8f0;
    display: block;
    float: right;
    font-size: 13px;
}

.ScriptListNav_back-button {
    margin: 45px 20px 25px auto
}

.ScriptListNav_back-button:hover {
  background-color: #FFB72F;
}

.add-category-button {
    margin: 45px 20px 25px auto
}


