.Script {
    --script-height: 108px;
    background-color: #010d1e;
    color: #cacaca;
    height: var(--script-height);
    margin-bottom: 8px;
    max-width: 380px;
    padding: 8px 0 8px 8px;
    position: relative;
}

.Script_title {
    font-family: var(--custom-font);
    font-size: 20px;
    margin: 0;
    max-width: 80%;
    min-height: 24px;
}

.Script_title a {
    color: #cacaca;
    display: block;
    text-decoration: none;
}

.SScript_title a:hover {
    color: #FFB72F;
}

.Script_info {
  color: #a7a5a5;
  font-size: 14px;
  position: absolute;
}