.App {
  --custom-font: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: grid;
  grid-template-areas: "sidebar header" "sidebar main";
  grid-template-columns: 1fr 2.3fr;
  grid-template-rows: 120px 1fr;
  min-height: 100vh;
}

.App_nav {
  background-color: #cc5803;
  color: #fff;
  grid-area: sidebar;
  height: 100vh;
  overflow: auto;
}

.App_header {
  background-color: #D88821;
  color: white;
  font-family: var(--custom-font);
  grid-area: header;
  padding-left: 32px;
  text-shadow: 2px 1px 2px black;
  padding-top: 10px;
}

.App_header img {
  width: 100px;
  height: 100px;
}

.App_header a {
  color: white;
  font-size: 40px;
}

.App_main {
  background-color:white;
  grid-area: main;
  height: calc(100vh - 120px);
  overflow: auto;
}


@media only screen and (min-width: 768px) {
  .App_header {
    height: auto;
    display: flex;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

}